@font-face {
    font-family: 'Digital-7';
    src: url('fonts/Digital-7.woff2') format('woff2'),
        url('fonts/Digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.App {
	min-height: 100vh;

	&__dropzone {
		cursor: pointer;
		width: 100%;
		min-height: 300px;

		background-color: transparent;
		border: 2px dashed #ccc;
		border-radius: 10px;
		padding: 20px;

		transition: all 0.2s ease-in-out;

		&--dragging {
			background-color: rgba($color: #fff, $alpha: 0.1);
			border-color: var(--bs-blue);
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

// .font-digital-7 {
// 	font-family: 'Digital-7';
// }

$fonts: 'sans-serif', 'serif', 'monospace', 'cursive', 'fantasy', 'Digital-7', 'Orbitron', 'Quantico';

@each $font in $fonts {
	.font-#{$font} {
		font-family: $font;
	}
}

.btn {
	svg {
		fill: currentColor;
		width: 1.25em;
		height: 1.25em;
		// display: inline-block;
		// vertical-align: middle;
		// margin-left: 0.25em;
	}

	&:has(svg) {
		display: grid;
		grid-template-columns: auto 1.25em;
		align-items: center;
		column-gap: 0.25em;
	}
}